{% extends "maptest1/base.html" %}
{% load staticfiles %}

{% block app_content %}
<!-- This extra bit of style defines the size of the "map" div tag area that shows up later -->
    <style>
      .map {
        height: 600px;
        width: 100%;
      }
    </style>

<h5><b>Forecast Slider</b></h5>

<!--Forecast slider bar-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>jQuery UI Slider - Snap to increments</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
</head>
<body>
<p>
  <label for="amount">Flood Depth (meters):</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:normal;">
</p>
<div id="slider"></div>
</body>
</html>

<!--div tag for map-->
    <div id="map" class="map"></div>
{% endblock %}

{% block app_navigation_items %}
  <li class="title">Display Layers</li>

<p> </p>
<div align = "left">
  <li><input type="checkbox" onClick="flood.setVisible(!flood.getVisible());"  id="ch_flood" name="flood" checked>Flood Map</li>
  <li><input type="checkbox" onClick="land.setVisible(!land.getVisible());"  id="ch_land" name="land" checked>Danger Zones</li>
</div>


{% endblock %}
